/* Active Tab Panel Styles */
.walker-core__tab-panel {
  padding: calc(4px) !important;
}
.walker-core__tab-panel .components-tab-panel__tabs {
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.walker-core__tab-panel .components-tab-panel__tabs button {
  height: 34px;
  transition: all 0.23s ease-in;
  width: 100%;
  justify-content: center;
}
.walker-core__tab-panel .components-tab-panel__tabs .walker-core__active-tab {
  background-color: #5566ca;
  color: #ffffff;
}

/* Panel Color Settings */
.walker-core__color-control {
  padding: 20px 0 !important;
}

/* Border Control */
.walker-core__border-control {
  margin-bottom: calc(24px) !important;
}
